<!-- <ion-header [translucent]="true">
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header> -->
<ion-row>
  <ion-col  class="text">
<ion-text>Find Your Route</ion-text></ion-col>
<ion-row>
<ion-col class="col1">
  <ion-searchbar color="light" placeholder="Search your route" search-icon="false"></ion-searchbar>
 </ion-col>
<ion-col class="col2">
  <ion-button color="light"><ion-icon color="medium" name="search-sharp"></ion-icon>
</ion-button>
 </ion-col>
</ion-row>
<ion-row class="row1">
  <ion-card class="card">
   <ion-img  src="assets/icon/res.jpg"></ion-img>
  </ion-card>
<ion-row class="row2">
  <ion-text>Categories</ion-text>
 </ion-row>
 <br>
  <ion-row>
  <ion-col>
  <ion-button class="btn1">
    <ion-icon color="medium" name="search-sharp"></ion-icon>
  </ion-button>
</ion-col>
</ion-row>
</ion-row>



 
 

</ion-row>
