.text{
  text-align: center;
  padding-top: 5%;
  font-size: 120%;
  font-weight: 100;
  font-style: bold;
}
ion-searchbar ion-icon {
  display: none;
}
.col1{
  width:550px ;
color: #000;
}
.col2{
  width:5px ;
 padding-top:2%;
}
ion-button{
  height: 43px;
}
.card{
 left: 50px;
    height: 240px;
  width: 240px;
}
ion-img {
 
  height: 250px;
  width: 250px;
}
.row1{

  height: 250px;
  width: 250px;
  
}
// .row2{
//   // padding: 15%;
// }
.card1{
  height: 150%;
  width: 150%;
  
}
.card2{
  height: 150%;
  width: 150%;
  padding-left: 10%;
}
.btn1{
  height: 200%;
  width: 200%;
 
//   padding-top:40%; 
// right: 130%
  ;
}